<!DOCTYPE html>
<html lang="en">

    <head>
        <title>SwitchIn - About</title>
        <meta charset="utf-8">
        <meta name="author" content="Yuji Takai">
        <meta name="description" content="Explore who we are, what we are providing you and what we vision as our goal">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=3.0">
    </head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'switchinweb/style.css' %}" />
    <body>
        <div id="navbar">
            <a href="{% url 'switchinweb:index' %}">Home</a>
            <a class="active" href="{% url 'switchinweb:about' %}">About</a>
        </div>
        <h1>Our Vision</h1>
        <p>Have everyone on the road well protected at any time.</p>
        <h1>Our Mission</h1>
        <p>Provide a smart tool for all drivers to ensure a proper coverage.</p>
        <p>We provide an unbiased universal insurance evaluation tool that gives auto insurance holders the best possible customized solution. We are doing this by educating drivers on their current coverage and suggesting a better solution if needed.</p>
    </body>