<!DOCTYPE html>
<html lang="en">

   <head>
      <title>SwitchIn - Home</title>
      <meta charset="utf-8">
      <meta name="author" content="Yuji Takai">
      <meta name="description" content="SwitchIn's unbiased smart tool to analyze your current auto insurance and suggest an upgrade">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'switchinweb/style.css' %}" />


   <body>
      <div id="navbar">
        <a class="active" href="{% url 'switchinweb:index' %}">Home</a>
        <a href="{% url 'switchinweb:about' %}">About</a>
      </div>

      {% if error_message %} <p> {{error_message}} </p> {% endif %}

      <h1>Welcome to SwitchIn!</h1>
         <p>To start, you could either spend 5 secs to upload your proof of insurance or 5 minutes manually inputting your auto insurance info</p>
         <br>
      <div>
         <div id="docUpload">
            <form action="{% url 'switchinweb:upload' %}" enctype="multipart/form-data" method="POST" name="uploadDoc">
            {% csrf_token %}

               City: <input type="text" placeholder="City" name="city" id="city"/>
               <br>
               Mileage: <input type="number" placeholder="0" name="mileage" id="mileage" min="0" />
               <div style = "max-width:470px;">
                  <center>
                     <input type = "file" style = "margin-left:20%;" placeholder="Document" name="document" />
                  </center>
               </div>
               <br>
               <div style = "max-width:470px;">
                  <center>
                     <button style = "border:0px;background-color:#4285F4; margin-top:8%; height:35px; width:80%; margin-left:19%;" type = "submit" value = "upload">
                        <strong>Upload</strong>
                     </button>
                  </center>
               </div>
            </form>
         </div>
         <div id="manualInputting">
            <form action="{% url 'switchinweb:manual' %}" method="POST" name="manualInput">
            {% csrf_token %}
               <table>
                  <tr>
                     <td><strong>General Information</strong></td>
                  </tr>
                  <tr>
                     <td>Company Name: </td>
                     <td><input type="text" name="company_name" id="company_name"/></td>
                  </tr>
                  <tr>
                     <td>Policy Number: </td>
                     <td><input type="text" name="policy_number" id="policy_number"/></td>
                  </tr>
                  <tr>
                     <td>Effective Date: </td>
                     <td><input type="date" name="effective_date" id="effective_date"/></td>
                  </tr>
                  <tr>
                     <td>Expiration Date: </td>
                     <td><input type="date" name="expiration_date" id="expiration_date"/></td>
                  </tr>
                  <tr>
                     <td>State: </td>
                     <td><input type="text" name="state" id="state"/></td>
                  </tr>
                  <tr>
                     <td>Mileage: </td>
                     <td><input type="number" name="mileage" id="mileage" min="0"/></td>
                  </tr>
                  <tr>
                     <td>City: </td>
                     <td><input type="text" name="city" id="city"/></td>
                  </tr>
                  <tr></tr>
                  <tr>
                     <td><strong>Vehicle Information</strong></td>
                  </tr>
                  <tr>
                     <td>Year: </td>
                     <td><input type="number" name="year" id="year" min="1950"/></td>
                  </tr>
                  <tr>
                     <td>Make: </td>
                     <td><input type="text" name="make" id="make"/></td>
                  </tr>
                  <tr>
                     <td>Model: </td>
                     <td><input type="text" name="model" id="model"/></td>
                  </tr>
                  <tr>
                     <td>VIN: </td>
                     <td><input type="text" name="vin" id="vin"/></td>
                  </tr>
                  <tr></tr>
                  <tr>
                     <td><strong>Coverage Information</strong></td>
                  </tr>
                  <tr>
                     <td>Property Damage Liability: </td>
                     <td>$<input type="number" name="liability_property" id="liability_property" min="0"/></td>
                  </tr>
                  <tr>
                     <td>Bodily Injury Liability: </td>
                     <td>$<input type="number" name="liability_person" id="liability_person" min="0"/>/$<input type="number" name="liability_accident" id="liability_accident" min="0"/></td>
                  </tr>
                  <tr>
                     <td>Personal Injury Protection: </td>
                     <td>$<input type="number" name="personal_injury" id="personal_injury" min="0"/></td>
                  </tr>
                  <tr>
                     <td>Comprehensive: </td>
                     <td>$<input type="number" name="comprehensive" id="comprehensive" min="0"/></td>
                  </tr>
                  <tr>
                     <td>Collision: </td>
                     <td>$<input type="number" name="collision" id="collision" min="0"/></td>
                  </tr>
                  <tr>
                     <td>Uninsured/Underinsured Property Damage: </td>
                     <td>$<input type="number" name="uninsured_property" id="uninsured_property" min="0"/></td>
                  </tr>
                  <tr>
                     <td>Uninsured/Underinsured Motorists: </td>
                     <td>$<input type="number" name="uninsured_person" id="uninsured_person" min="0"/>/$<input type="number" name="uninsured_accident" id="uninsured_accident" min="0"/></td>
                  </tr>
               </table>
               <button type="submit" value="manual">
                  <strong>Submit</strong>
               </button>
            </form>
         </div>
      </div>
   </body>
</html>